<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle rental</title>
    <link rel="icon" type="image/x-icon" href="./Images/logoo.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
    <link rel="stylesheet" href="" th:href="@{css/Products.css}" />
</head>

<body>
    <nav th:replace="~{Navigation::navbar()}"></nav>
    <div id="main-container">
    <div id="biryani"> 
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/swift.jpeg" alt="swift car">
            <p class="item-name">swift</p>
            <p class="item-price">1 Day-Price: Rs 1500</p>
            <a href="/login" id="buy">Rent Now</a>
        </div>
 
 <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/gurkha.jpg" alt="Gurkha">
            <p class="item-name">Gurkha</p>
            <p class="item-price">1 Day-Price: Rs 4500</p>
            <a href="/login" id="buy">Rent Now</a>
        </div> 
         
         <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/honda.jpg" alt="honda">
            <p class="item-name">Honda</p>
            <p class="item-price">1 Day-Price: Rs 3000</p>
            <a href="/login" id="buy">Rent Now</a>
        </div> 
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/hyundai.jpg" alt="hyundai">
            <p class="item-name">Hyundai</p>
            <p class="item-price">1 Day-Price: Rs 2500</p>
            <a href="/login" id="buy">Rent Now</a>
        </div> 
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/KTM-Duke-250-ATLANTIC-BLUE.jpg" alt="ktm">
            <p class="item-name">KTM Duke</p>
            <p class="item-price">1 Day-Price: Rs 1200</p>
            <a href="/login" id="buy">Rent Now</a>
        </div> 
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/royal enfield.jpg" alt="royal enfileld">
            <p class="item-name">Royal enfield</p>
            <p class="item-price">1 Day-Price: Rs 1100</p>
            <a href="/login" id="buy">Rent Now</a>
        </div>
      
      <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/thar.jpg" alt="Chicken Biryani">
            <p class="item-name">Thar</p>
            <p class="item-price">1 Day-Price: Rs 3000</p>
            <a href="/login" id="buy">Rent Now</a>
        </div> 
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/toyota.jpg" alt="Chicken Biryani">
            <p class="item-name">Toyata</p>
            <p class="item-price">1 Day-Price: Rs 3000</p>
            <a href="/login" id="buy">Rent Now</a>
        </div>   
         
         <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/yamaha.jpg" alt="Chicken Biryani">
            <p class="item-name">Yamaha</p>
            <p class="item-price">1 Day-Price: Rs 1000</p>
            <a href="/login" id="buy">Rent Now</a>
        </div>   
         
         <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/activa.jpeg" alt="Chicken Biryani">
            <p class="item-name">Activa</p>
            <p class="item-price">1 day-Price: Rs 450</p>
            <a href="/login" id="buy">Rent Now</a>
        </div>   
        
        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/suzuki.jpg" alt="Chicken Biryani">
            <p class="item-name">suzuki</p>
            <p class="item-price">1 day-Price: Rs 500</p>
            <a href="/login" id="buy">Rent Now</a>
        </div>

        <div class="item-card">
            <div class="card-top">
                <i class="fa fa-heart-o add-to-cart" aria-label="Add to favorites"></i>
            </div>
            <img src="./Images/iqube.jpg" alt="Chicken Biryani">
            <p class="item-name">Iqube</p>
            <p class="item-price">1 Day-Price: Rs 500</p>
            <a href="/login" id="buy">Rent Now</a>
        </div>
         
    </div>
    </div>
    <script>
        document.getElementById("buy").addEventListener("click", function (event) {
            event.preventDefault();
            alert("Please Login as a User to buy Products");
        });
    </script>
</body>

</html>

